.App {
  padding: 2rem;
  font-family: Arial;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}

.dark-theme {
  background-color: #1a1a1a;
  color: #f0f0f0;
  min-height: 100vh;
}